<template name="header">
    <!--navbar y navbar-* son clases definidas en boostrap-->
    <!--<header class="navbar navbar-default" role="navigation">-->
        <!--<div class="navbar-header">-->

             <!--Bootstrap: Antigua estructura del header-->

        <!--</div>-->
    <!--</header>-->

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--Routing: El helper pathFor siempre obtendrá la URL correcta, dada una ruta-->
            <a class="navbar-brand" href="{{pathFor 'postsList'}}">Microscope</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
                {{> loginButtons}}
            </ul>
        </div>
    </nav>

</template>